@page "/create"
@inject ISnackbar Snackbar


<PageHeading Title="Add Project"></PageHeading>
<MudPaper Elevation="0" Class="rounded border-2 border-solid px-4 py-9">
    <EditForm Model="myProject" OnValidSubmit="SaveProject">
        <MudContainer Class="d-flex flex-column gap-10 justify-center" MaxWidth="MaxWidth.Medium">
            <MudTextField @bind-Value="myProject.ProjectName" Label="Project name" Required="true" Variant="Variant.Text"></MudTextField>
            <MudTextField @bind-Value="myProject.Description" Label="Description" Lines="2" Variant="Variant.Text"></MudTextField>
            <MudTextField @bind-Value="myProject.GithubLink" Label="Github link" Variant="Variant.Text"></MudTextField>
            <div >
                <MudText Class="d-inline-flex mr-4">Select a label:</MudText>
                <MudChipSet @bind-SelectedChip="selected" Filter="true" Class="d-inline-flex" Mandatory="@mandatory">
                    @foreach (var item in Constants.Labels)
                    {
                        <MudChip Size="Size.Small" Variant="Variant.Text" Color="Color.Dark" Text="@item">@item</MudChip>
                    }
                </MudChipSet>
            </div>
            <MudSelect T="string" Label="Category" Variant="Variant.Text" @bind-Value="myProject.Category" AnchorOrigin="Origin.BottomCenter">
                @foreach (var item in Constants.Filters)
                {
                    <MudSelectItem Value=@item />
                }
            </MudSelect>
            <MudTextField @bind-Value="myProject.Notes" Label="Notes" Lines="5" Variant="Variant.Text"></MudTextField>
            @if (!(string.IsNullOrEmpty(myProject.ProjectName) || string.IsNullOrEmpty(myProject.Category)))
            {
                <div>
                    <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Dark"><MudText Typo="Typo.subtitle1">Submit</MudText></MudButton>
                </div>
            }
      
       
        </MudContainer>
    </EditForm>

</MudPaper>



@code {
    bool mandatory = true;
    MudChip selected;
    MyProject myProject = new();


    async Task SaveProject()
    {
        myProject.Label = selected.Text ?? string.Empty;
        myProject.CreationDate = DateTime.Now;
        myProject.IsIterationCompleted = false;
        myProject.DraftCompletionDate = null;
        var res = await _db.SaveItemAsync(myProject);
        myProject = new();
        Snackbar.Add($"Project with an id of {res} was successfully saved!", Severity.Normal);
        Navigation.NavigateTo("/");
    }
}
